{% extends "base.html" %}

{% block title %}Credits | Student Health Data Web App{% endblock %}

{% block content %}
<section class="card">
    <h1>Project Credits</h1>
    <p>
        This project was originally developed as a group academic assignment.

        It has been further enhanced and refined by Pamela Gatica as an individual portfolio project, 
        with improvements in design, structure, and functionality.
    </p>

    <ul class="credit-list">
        <li>Pamela Gatica (Project Enhancement & Development)</li>
        <li>Ivy Hoetu</li>
        <li>Javid Mehdiyev</li>
        <li>Fawaz Dimachki</li>
    </ul>
</section>
{% endblock %}
